.header-logo {
    float:left;
}

.header-logo .logo {
    display:inline-block;
}

.header-logo .logo > img {
    max-height: 90px;
    padding: 10px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
}
