.header-links {
    float:left;
}

.header-links ul li {
    display: inline-block;
    border-left: 1px solid #DDD;
}

.header-links  ul li:last-child {
    border-right:1px solid #DDD;
}

.header-links ul li a {
    display: block;
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    color: #222;
    font-size: 12.5px;
    text-align: center;
    text-transform: uppercase;
}

.header-links ul li a:hover  {
    color:#EF233C;
}
