.article {
    position:relative;
    margin-bottom:30px;
}

.article .article-img {
    position:relative;
    overflow:hidden;
    margin-bottom:15px;
}

.imageSmall {
    width: 100%;
}

.article.row-article:after {
    content:"";
    display:block;
    clear:both;
}

.article.row-article .article-img {
    width:45%;
    float:left;
    margin-right:30px;
    margin-bottom:0px;
}

.rowNews {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .article.row-article .article-img {
        width:180px;
    }

    .article.row-article .article-body p {
        display:none;
    }
}

@media only screen and (max-width: 480px) {
    .article.row-article .article-img {
        float:none;
        margin-bottom:15px;
    }
}
