body {
  font-family: 'Lato', sans-serif;
  color:#2C2C2C;
  font-size:15px;
  font-weight:300;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  color: #07090C;
  font-weight:700;
}

h1 {
  font-size:31.104px;
}

h2 {
  font-size:25.92px;
}

h3 {
  font-size:21.6px;
}

h4 {
  font-size:18px;
}

h5 {
  font-size:15px;
}

a {
  font-weight:400;
  color: #07090c;
}

a:hover,
a:focus{
  color: #EF233C;
  text-decoration: none;
  outline: none;
}

ul,ol{
  margin: 0;
  padding: 0;
  list-style: none
}

/*----------------------------*\
	input
\*----------------------------*/
.input {
  width:100%;
  height:40px;
  padding:0px 15px;
  border:1px solid #DDD;
  background-color:transparent;
}

textarea.input {
  padding:15px;
}

.input-btn {
  display: inline-block;
  padding: 12px 30px;
  color: #FFF;
  background-color: #EF233C;
  border: none;
  text-transform: uppercase;
  opacity: 1;
  font-size: 12.5px;
  font-weight: 400;
}

.input-btn:hover {
  opacity:0.8;
}
